.form-title {
  @include h3;
  color: #ffffff;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 26px;
}
.repeat-form-block {
  background-color: $blue-main;
  padding: size(30) 0;
}
//Form styles
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-image: url("../iconsall/form-select.png");
  padding-right: size(11);
  padding-left: size(42);
  background-position: size(20) center;
  background-size: size(17);
}
div.wpcf7 textarea {
  height: size(160);
  padding: 23px 17px !important;
}
.textarea-col {
  ::placeholder {
	color: #1c1d1a;
	font-size: size(22);
	line-height: size(24);
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	color: #1c1d1a;
	font-size: size(22);
	line-height: size(24);
  }
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
  background-size: size(23);
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="submit"] {
  @include submit-style;
  background-image: url("../iconsall/form-submit.png");
  @media (max-width: 1920px) {
	font-size: size(20);
	line-height: size(20);
  }
  @media (max-width: 1720px) {
	font-size: size(18);
	line-height: size(20);
  }
  @media (max-width: 1600px) {
	font-size: size(24);
	line-height: size(26);
  }
}
.acceptance-col {
  margin-top: -1rem;
  label {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	color: #ffffff;
	font-size: size(18);
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(20);
  }
  input[type="checkbox"] {
	width: size(17);
	min-width: size(17);
	height: size(17);
	margin-left: 1rem;
  }
}
.post-form-title, .post-form-subtitle {
  color: #ffffff;
  text-align: center;
  margin-bottom: 14px;
}
.post-form-title {
  @include h3;
  font-weight: 500;
}
.post-form-subtitle {
  @include h6;
  font-weight: 500;
}
.float-form {
  position: fixed;
  top: 10%;
  z-index: 99999;
  transition: all .5s;
  transform: translateX(-100%);
  opacity: 0;
  &.show-form {
	left: 3rem;
	opacity: 1;
	transform: translateX(0);
  }
}
.post-form-wrapper, .dark-back {
  background-color: $blue-main;
  padding: size(42) size(30);
}
.golden-form {
  .repeat-form-block {
	background-color: $gold-back;
  }
  div.wpcf7 input[type="submit"] {
	border: 2px solid #ffffff;
  }
}
.pro-col-post {
  div.wpcf7 input[type="submit"] {
	border: 2px solid #ffffff;
  }
  div.wpcf7 input[type="text"] {
	background-image: url("../iconsall/form-dark-name.png");
  }
  div.wpcf7 input[type="tel"] {
	background-image: url("../iconsall/form-dark-tel.png");
  }
  div.wpcf7 input[type="email"] {
	background-image: url("../iconsall/form-dark-mail.png");
  }
}
.contact-form-wrap {
  padding: size(46) size(64);
}
.form-col-post {
  position: sticky;
  top: 0;
  padding: size(40) size(35);
  @media (max-width: 1600px) and (min-width: 993px){
	div.wpcf7 input[type="submit"] {
	  font-size: size(18);
	  line-height: size(20);
	}
  }
  @media (max-width: 400px) {
	div.wpcf7 input[type="submit"] {
	  font-size: size(19);
	  line-height: size(22);
	}
  }
  .acceptance-col input[type="checkbox"] {
	margin-left: size(12);
  }
}
