header {
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-height: size(100);
}
#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  a{
		@include h6;
		color: $blue-main !important;
		font-style: normal;
		letter-spacing: normal;
		text-align: center;
		@media (max-width: 1600px) and (min-width: 769px){
		  font-size: size(19);
		  line-height: size(22);
		}
	  }
	}
  }
}
.logo {
  @include d-center;
}
header {
  .logo {
	padding: size(10) 0;
	@media (max-width: 768px) {
	  margin: 0 50px;
	}
	@media (max-width: 576px) {
	  margin: 0 50px 0 0;
	}
	img {
	  max-height: size(80);
	}
  }
}
.langs-wrap {
  .languages {
	display: flex;
  }
  li {
	a {
	  @include h4;
	  font-weight: 500;
	  text-transform: uppercase;
	  color: $blue-main;
	  transition: color ease-out .5s;
	  &:hover {
		color: $gold-main;
	  }
	  @media (max-width: 1600px) and (min-width: 992px) {
		@include h5;
	  }
	}
	&.active {
	  display: none;
	}
  }
}
.col-header-last {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-tel {
  @include d-center;
  img {
	max-width: size(27);
	margin: 0 size(12);
	@media (max-width: 1600px) and (min-width: 993px) {
	  max-width: size(20);
	  margin: 0 8px;
	}
  }
}
.tel-number {
  @include h4;
  color: $blue-main;
  transition: color ease-out .5s;
  &:hover {
	color: $gold-main;
  }
  @media (max-width: 1600px) and (min-width: 992px) {
	@include h5;
  }
  @media (max-width: 993px) {
	display: none;
  }
}
.fix-wrap {
  position: fixed;
  left: -2rem;
  bottom: 30%;
  z-index: 9999;
  @media (max-width: 650px) {
	left: -1rem;
  }
}
.social-link {
  @include d-center;
  margin-bottom: size(22);
  @media (max-width: 650px) {
	margin-bottom: size(15);
  }
  img {
	width: size(42);
  }
}
.pop-trigger {
  cursor: pointer;
  @include d-center;
  transform: rotate(270deg);
  padding: 15px 20px 30px 20px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 70px;
  margin-left: 20px;
  background-image: url("../iconsall/popup.png");
  span {
	@include h3;
	color: #ffffff;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
  }
  @media (max-width: 650px) {
	padding: 5px 10px 15px 10px;
	margin-top: 30px;
	margin-left: 10px;
	span {
	  font-size: size(16);
	  line-height: size(16);
	}
  }
}
.breadcrumbs {
  display: flex;
  align-items: center;
  li, .breadcrumbs__link {
	@include small-text;
	color: $blue-main;
	font-family: $almoni;
	font-weight: 400;
	transition: color ease-out .5s;
  }
  .breadcrumbs__link:hover {
	color: $gold-main;
  }
}
.breadcrumbs-white {
  position: relative;
  z-index: 2;
  margin-bottom: size(67);
  * {
	color: #ffffff;
  }
  li, .breadcrumbs__link {
	color: #ffffff;
  }
  .breadcrumbs__link:hover {
	color: #ffffff;
  }
}

//Footer
footer {
  margin-top: 2rem;
}
.footer-main {
  position: relative;
  background-color: $blue-main;
  background-image: url("../img/foo-back.png");
  @include back-img;
}
.menu-border-top {
  position: relative;
  padding-top: size(22);
  border-top: 2px solid #ffffff;
}
.hop-hey.three-columns {
  column-count: 2;
  column-gap: 1rem;
  @media (max-width: 500px) {
	column-count: 1;
	column-gap: unset;
  }
}
footer {
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	margin-bottom: 5px;
	a {
	  position: relative;
	  @include foo-menu;
	  color: #ffffff;
	  padding-right: 20px;
	  transition: color .5s;
	  &:hover {
		color: $gold-back;
		transition: color .5s;
	  }
	}
	&:before {
	  position: absolute;
	  content: '>';
	  top: 6px;
	  color: #ffffff;
	  font-size: size(18);
	  line-height: size(20);
	  display: inline-block;
	  right: 0;
	}
  }
  .contact-list li {
	margin-bottom: 10px;
	a {
	  display: flex;
	  align-items: center;
	  padding-right: 0;
	  img {
		margin-left: 8px;
	  }
	}
	&:before {
	  display: none;
	}
  }
}
.contact-menu-foo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.foo-title {
  @include base-text;
  color: #ffffff;
  margin-bottom: 15px;
}
.foo-form-wrap {
  padding: size(70) 0 size(40) 0;
}
.footer-container-menu {
  padding-top: 10px;
  padding-bottom: 80px;
}
#go-top {
  position: absolute;
  top: -4rem;
  right: 33px;
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  z-index: 999;
  svg {
	width: size(64);
	transition: fill .5s;
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
}
.pop-great {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  z-index: 88;
  transition: all ease-out .5s;
  &.show-pop {
	pointer-events: all;
	opacity: 1;
  }
}
.float-form {
  position: fixed;
  left: 10%;
  top: 100px;
  width: 424px;
  max-height: 100vh;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  transition: all ease-out .5s;
  pointer-events: none;
  &.show-float-form{
	pointer-events: all;
	opacity: 1;
	transform: translateY(0);
  }
  @media (max-width: 500px) {
	width: 95%;
	left: 2.5%;
  }
  @media (max-width: 400px) {
	div.wpcf7 input[type="submit"] {
	  background-image: none !important;
	}
  }
}

