// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Pixel to REM
// =============================================================================


$base-size: 22;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


// usage: body {margin: size(20);}


// =============================================================================
// Media Query [Bootstrap 4 default queries]
// =============================================================================


@mixin extra-large-device-up {
  @media (min-width: 1200px) { @content; }
}
@mixin extra-large-device-down {
  @media (max-width: 1200px) { @content; }
}
@mixin large-device {
  @media (max-width: 992px) { @content; }
}
@mixin medium-device {
  @media (max-width: 768px) { @content; }
}
@mixin small-device {
  @media (max-width: 576px) { @content; }
}
@mixin h1-1 {
  font-size: size(50);
  line-height: size(54);
}
@mixin h1 {
  font-size: size(45);
  line-height: size(50);
  @media (max-width: 1600px) and (min-width: 993px) {
	font-size: size(35);
	line-height: size(40);
  }
}
@mixin h2 {
  font-size: size(40);
  line-height: size(40);
  font-weight: 700;
  @media (max-width: 1600px) and (min-width: 993px) {
	font-size: size(30);
	line-height: size(32);
  }
}
@mixin h3 {
  font-size: size(35);
  line-height: size(38);
  font-weight: 700;
  @media (max-width: 1600px) and (min-width: 993px) {
	font-size: size(28);
	line-height: size(30);
  }
}
@mixin h4 {
  font-size: size(30);
  line-height: size(36);
  font-weight: 700;
  @media (max-width: 1600px) and (min-width: 993px) {
	font-size: size(26);
	line-height: size(28);
  }
}
@mixin h5 {
  font-size: size(28);
  line-height: size(30);
  @media (max-width: 1600px) and (min-width: 993px) {
	font-size: size(24);
	line-height: size(26);
  }
}
@mixin h6 {
  font-size: size(25);
  line-height: size(28);
  @media (max-width: 1600px) and (min-width: 993px) {
	font-size: size(22);
	line-height: size(26);
  }
}
@mixin base-text {
  font-size: size(24);
  line-height: size(28);
  font-weight: 400;
  @media (max-width: 1600px) and (min-width: 993px) {
	font-size: size(21);
	line-height: size(24);
  }
}
@mixin small-text {
  font-size: size(20);
  line-height: size(28);
  font-weight: 400;
}
@mixin foo-menu {
  font-size: size(18);
  line-height: size(30);
  font-weight: 400;
  color: #ffffff;
}
@mixin input-style {
  height: size(63);
  border-radius: size(23);
  border: 1px solid #ffffff;
  background-color: #ffffff;
  margin-bottom: 22px;
  padding-right: size(50);
  background-size: size(28);
  background-repeat: no-repeat;
  background-position: calc(100% - 12px);
}
@mixin input-text {
  color: #000000;
  font-size: size(24);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(26);
}
@mixin submit-style {
  background-color: transparent;
  @include input-text;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  background-position: 8px center;
  padding: 8px size(20) 8px size(65);
  background-size: size(51);
  border: 2px solid $gold-main;
  border-radius: 31px 16px 16px 31px;
}
@keyframes rotating {
  0% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	transform: rotate(-35deg);
  }
}
//100%
@mixin back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
@mixin d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes jump {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-bottom: 1rem;
  }
}
@keyframes jump-top {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-top: -1rem;
  }
}
