.faq {
  padding: size(114) 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: size(16);
  }
  .question-title {
	display: flex;
	align-items: center;
	width: 100%;
	text-align: right;
	padding: 0;
	border: none !important;
	@include base-text;
	color: $faq-color;
	font-weight: 700;
  }
}
.answer-body {
  background-color: transparent;
  padding-top: 10px;
  &.base-output p {
	margin-bottom: 0;
  }
  @media (max-width: 576px) {
	margin-right: -30px;
  }
}
.question-header {
  background-color: #ffffff;
  border: 1px solid #191919;
  padding: size(20) size(100) size(20) size(55);
  min-height: size(71);
  @media (max-width: 576px) {
	padding: size(20) size(80) size(20) size(35);
  }
}
.faq-sign {
  position: absolute;
  color: #191919;
  font-family: $almoni-tzar;
  font-size: size(50);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(36);
  text-align: center;
  top: size(20);
  left: size(25);
  background-color: white;
  padding: 2px;
  @media (max-width: 576px) {
	left: size(10);
  }
}
.faq-minus {
  display: none;
}
.show-sign {
  display: flex;
}
.faq-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: size(20);
  width: size(62);
  background-color: $blue-main;
  background-image: url("../iconsall/faq.png");
  background-size: size(19);
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  height: size(71);
  &.active-icon {
	background-color: $gold-main;
  }
}

//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-image .5s;
	&:hover {
	  transition: background-image .5s;
	}
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-gold-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-gold-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(35);
	height: size(30);
	z-index: 33;
	top: unset;
	bottom: -1rem;
  }
  [dir="rtl"] .slick-next {
	right: unset;
	left: 0;
  }
  [dir="rtl"] .slick-prev {
	left: 3rem;
	right: unset;
  }
}
.base-slider-block {
  position: relative;
  margin: size(100) 0;
  @media (max-width: 992px) {
	.row-slider {
	  flex-direction: column-reverse;
	}
  }
}
.reverse-slider {
  .slider-content-wrap {
	background-color: $blue-main;
	.base-output * {
	  color: #ffffff !important;
	}
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-slider-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-slider-right.png");
  }
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .img-slider {
	@include back-img;
	width: 120%;
	max-width: unset;
	position: absolute;
	right: -20%;
	height: 80%;
	@media screen and (max-width: 992px) {
	  position: relative;
	  width: 80%;
	  right: unset;
	  margin-bottom: -60px;
	  height: unset;
	  &:after {
		padding-bottom: 65%;
		content: '';
		display: block;
	  }
	}
  }
}
.slider-content-wrap {
  background-color: #f6f5f5;
  padding: 10% 10% 10% 20%;
  @media screen and (max-width: 768px) {
	padding: 160px 10%;
  }
  @media screen and (max-width: 576px) {
	padding: 100px 10%;
  }
}




//Part with items
.why-item-row-wrap {
  &:nth-child(2n)  {
	.why-item-row {
	  flex-direction: row-reverse;
	  .why-item-image {
		margin-left: 2px;
		margin-right: 0;
	  }
	}
	.why-item-col:first-child {
	  .why-item-content {
		background-color: $gold-back;
		.why-item-text, .why-item-title {
		  color: #ffffff;
		}
	  }
	}
  }
  &:first-child .why-item-col:nth-child(2) {
	.why-item-content {
	  background-color: $gold-back;
	  .why-item-text, .why-item-title {
		color: #ffffff;
	  }
	}
  }
  &:nth-child(3) {
	.why-item-col:first-child {
	  .why-item-content {
		display: none;
	  }
	  .why-item-image {
		flex: 0 0 100%;
		max-width: 100%;
		&:after {
		  display: none;
		}
	  }
	}
  }
}
.why-item-col {
  padding: 1px 2px;
  @media (max-width: 768px) {
	padding: 2px 15px;
  }
}
.why-item-row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  @media (max-width: 576px) {
	flex-wrap: wrap;
  }
}
.why-item-image {
  flex: 0 0 34%;
  max-width: 34%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $blue-main;
  margin-right: 2px;
  &:after {
	content: '';
	display: block;
	padding-bottom: 120%;
  }
  @media (max-width: 576px) {
	flex: 0 0 100%;
	max-width: 100%;
	margin-right: 0;
	height: unset;
	&:after {
	  padding-bottom: 75%;
	}
  }
}
.why-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  flex: 0 0 66%;
  max-width: 66%;
  background-color: #ffffff;
  max-height: size(400);
  overflow-y: auto;
  @media (max-width: 576px) {
	flex: 0 0 100%;
	max-width: 100%;
	max-height: unset;
	min-height: 250px;
  }
}
.why-item-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: size(85);
  margin-bottom: 10px;
  img {
	max-height: 100%;
  }
}
.why-item-text, .why-item-title {
  text-align: center;
  font-weight: 400;
  color: $blue-main;
}
.why-item-title {
  font-size: size(33);
  line-height: size(36);
  margin-bottom: size(12);
}
.why-item-text {
  font-size: size(22);
  line-height: size(22);
  color: #898989;
}
//Post card
.col-post {
  margin-bottom: size(44);
  .grad-back {
	margin-bottom: size(25);
  }
}
.bordered-image-post {
  display: flex;
  padding: 0 !important;
  overflow: hidden;
  height: 100%;
  &:after {
	content: '';
	display: block;
	padding-bottom: 100%;
  }
  img {
	max-width: unset;
	min-width: 100%;
	min-height: 100%;
	transition: transform ease-out .5s;
  }
}
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  .inside-image {
	padding: size(22);
  }
  &:hover {
	img {
	  transform: scale(1.1, 1.1);
	}
  }
}
.post-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}
.post-item-title {
  @include h4;
  color: #000000;
  font-weight: 500;
  margin-bottom: size(12);
}
.post-preview {
  @include small-text;
  color: $text-main;
}
.post-col {
  margin-bottom: 2rem;
}
.post-link {
  @include base-text;
  color: #000000 !important;
  text-align: center;
  background-image: url("../iconsall/arrow-link-left.png");
  background-position: 4px center;
  background-repeat: no-repeat;
  background-size: size(21);
  padding-left: size(40);
  transition: background-position ease-out .5s;
  &:hover {
	background-position: left center;
  }
}
.worker-card {
  .post-item-title {
	font-weight: 700;
  }
  .post-item-content {
	align-items: center;
  }
}
.post-item-subtitle {
  color: #000000;
  font-size: size(28);
  line-height: size(30);
  font-weight: 500;
  text-align: center;
  margin-bottom: size(14);
}
.project-col:nth-child(even) {
  .project-row {
	flex-direction: row-reverse;
  }
}
.project-row {
  margin: 0;
  height: size(396);
  @media (max-width: 1600px) {
	height: size(296);
  }
  @media (max-width: 576px) {
	height: unset;
  }
}
.project-img-col {
  position: relative;
  padding: 0;
  overflow: hidden;
  &:hover {
	img {
	  transform: scale(1.1, 1.1);
	}
  }
  @media (max-width: 576px) {
	height: 300px;
  }
  img {
	position: absolute;
	right: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	max-width: unset;
	transition: transform ease-out .5s;
  }
}
.project-title-col {
  @include d-center;
  padding: 0 10%;
  &:hover {
	.project-item-title {
	  color: $gold-main;
	}
  }
  @media (max-width: 1600px) {
	padding: 0 30px;
  }
  @media (max-width: 576px) {
	padding: 20% 15px;
  }
}
.project-item-title {
  color: $blue-main;
  font-family: $almoni;
  font-size: size(55);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(60);
  text-align: center;
  transition: color ease-out .5s;
  @media (max-width: 1600px) {
	font-size: size(45);
	line-height: size(50);
  }
  @media (max-width: 1200px) {
	font-size: size(25);
	line-height: size(30);
  }
  @media (max-width: 576px) {
	font-size: size(45);
	line-height: size(50);
  }
}
//Terms of projects
.dark-back-data {
  margin-top: 0;
  padding: size(65) 0 0 0;
  @media (min-width: 1600px) {
	.col-xxl {
	  flex: 0 0 20%;
	  max-width: 20%;
	}
  }
}
.term-link-top {
  @include h6;
  color: $blue-main;
  font-weight: 400;
  transition: color ease-out .5s;
  border-left: 1px solid $blue-main;
  margin-bottom: 1rem;
  &:hover {
	color: $gold-main;
  }
  &:last-child {
	border-left: none;
  }
}
.item-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: size(46);
}
.icon-item-wrap {
  height: size(78);
  @include d-center;
  img {
	max-height: 100%;
	margin-bottom: size(22);
  }
}
.item-data-text {
  @include base-text;
}
.item-data-title, .item-data-text {
  text-align: center;
  color: #ffffff;
}
.item-data-title {
  @include h3;
  font-weight: 700;
  font-family: $almoni;
  margin-bottom: size(18);
}
//Steps
.steps-block {
  padding-top: size(82);
  margin-bottom: -100px;
}
.steps-column {
  position: relative;
  margin-bottom: size(150);
  padding: 0 30px;
  &:after {
	content: '';
	display: block;
	background-image: url("../iconsall/arrow-gold-left.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: size(28);
	height: size(24);
	position: absolute;
	left: 0;
	top: 50%;
  }
  &:last-child {
	&:after {
	  display: none;
	}
  }
  @media (min-width: 993px) {
	&:nth-child(1) {
	  order: 1;
	}
	&:nth-child(2) {
	  order: 2;
	}
	&:nth-child(3) {
	  order: 3;
	}
	&:nth-child(5) {
	  order: 5;
	  &:after {
		right: -15px;
		left: unset;
		transform: rotate(180deg);
	  }
	}
	&:nth-child(4) {
	  order: 6;
	  &:after {
		right: -15px;
		left: unset;
		transform: rotate(180deg);
	  }
	}
	&:nth-child(6) {
	  order: 4;
	}
  }
  &:nth-child(3) {
	&:after {
	  top: calc(100% + 45px);
	  left: calc(50% - 15px);
	  transform: rotate(270deg);
	}
  }
  @media (max-width: 992px) {
	&:nth-child(3) {
	  &:after {
		top: 50%;
		left: 0;
		transform: unset;
	  }
	}
  }
  @media (max-width: 576px) {
	&:after {
	  top: calc(100% + 45px) !important;
	  left: calc(50% - 15px) !important;
	  transform: rotate(270deg) !important;
	}
  }
}
.step-item {
  @include d-center;
}
.step-icon-wrap {
  min-width: size(60);
  margin-left: size(30);
}
.step-item-title {
  color: $blue-main;
  font-family: $almoni;
  font-size: size(26);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(26);
  margin-bottom: size(13);
}
.step-item-text {
  color: $text-main;
  font-size: size(22);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.container-projects-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "col-1 col-1 col-1 col-2 col-2 col-4 col-4 col-5 col-5 col-5"
    "col-1 col-1 col-1 col-3 col-3 col-4 col-4 col-6 col-6 col-6";
  height: 636px;
  direction: ltr;
  @media (max-width: 1600px) {
	height: 555px;
  }
  @media (max-width: 1200px) {
	height: 430px;
  }
  @media (max-width: 992px) {
	height: 900px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas:
    "col-1 col-1 col-1 col-2 col-2"
    "col-1 col-1 col-1 col-3 col-3"
    "col-4 col-4 col-5 col-5 col-5"
    "col-4 col-4 col-6 col-6 col-6";
  }
  @media (max-width: 576px) {
	height: auto;
	display: flex;
	flex-direction: column;
	.col-project-home {
	  height: 350px;
	  width: 100%;
	}
  }
}
.col-project-1 { grid-area: col-1; }
.col-project-2 { grid-area: col-2; }
.col-project-3 { grid-area: col-3; }
.col-project-4 { grid-area: col-4; }
.col-project-5 { grid-area: col-5; }
.col-project-6 { grid-area: col-6; }
.col-project-home {
  position: relative;
  overflow: hidden;
  img {
	max-width: unset;
	min-width: 100%;
	min-height: 100%;
	transition: transform ease-out .5s;
  }
  &:hover {
	img {
	  transform: scale(1.1);
	}
	.home-pro-title-wrap {
	  opacity: 1;
	}
  }
}
