/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


@media (min-width: 1600px) {
  .container {
	max-width: 76%;
  }
  .col-xxl {
	flex: 0 0 25%;
	max-width: 25%;
  }
}
//Bootstrap 4 breakpoints
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
}
@media (max-width: 1600px) and (min-width: 992px) {
  html{
	font-size: 19px;
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .about-img-col {
	margin-top: 2rem;
  }
  .foo-menu {
	margin-bottom: 2rem;
  }
  .contacts-footer-menu {
	order: 2;
  }
  .foo-links-menu {
	order: 3;
  }
}
@media (min-width: 769px) {
  .back-to-menu, .sub-head {
	display: none !important;
  }
  #MainNav{
	ul{
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  height: 100%;
	  li{
		@include d-center;
		height: 100%;
		padding: size(38) 0;
		&:last-child {
		  a {
			border-left: none;
		  }
		}
		a{
		  @include d-center;
		  padding: 0 size(25);
		  border-left: 1px solid $blue-main;
		}
	  }
	}
	li.menu-item-has-children {
	  position: relative;
	  &:hover {
		ul.sub-menu {
		  opacity: 1;
		  height: auto !important;
		  pointer-events: auto;
		}
	  }
	}
	ul.sub-menu {
	  position: absolute;
	  pointer-events: none;
	  padding: size(30) size(25);
	  z-index: 999;
	  opacity: 0;
	  top: 100%;
	  min-width: 50vw;
	  display: flex;
	  flex-direction: column;
	  align-items: flex-start;
	  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.13);
	  background-color: #ffffff;
	  border-top: 4px solid $blue-main;
	  transition: opacity ease-out .5s;
	  &:before {
		position: absolute;
		top: -17px;
		content: '';
		display: block;
		align-self: center;
		border: 7px solid transparent;
		border-bottom: 7px solid $blue-main;
	  }
	  li {
		padding: 0;
	  }
	  li a {
		@include foo-menu;
		color: $blue-main;
		border: none;
		font-style: normal;
		letter-spacing: normal;
		line-height: size(20);
		text-align: right;
		margin-bottom: 10px;
		transition: font-weight ease-out .5s;
		&:hover {
		  color: $blue-main;
		  font-weight: 500;
		}
	  }
	}
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  #MainNav{
	ul{
	  li{
		a{
		  color: #ffffff !important;
		  text-align: center;
		  border: none !important;
		}
	  }
	}
	ul.sub-menu {
	  li.back-to-menu, li.sub-head {
		@include h6;
	  }
	  li a {
		font-size: size(18);
		line-height: size(20);
		padding: 10px 0;
	  }
	}
  }
  nav#MainNav div.main_menu > ul > li.active > ul.sub-menu {
	height: 100% !important;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 950px) {

}
