body {
  text-align: left;
  direction: ltr;
}

.wpcf7-form * {
  direction: ltr !important;
}
.wpcf7-form ::placeholder {
  text-align: left;
}
.wpcf7-form ::-webkit-input-placeholder, .wpcf7-form :-moz-placeholder, .wpcf7-form :-ms-input-placeholder {
  text-align: left;
}

div.wpcf7 input[type=submit] {
  background-image: url("../iconsall/form-submit-ltr.png");
  padding: 8px 3.25rem 8px 1rem;
  border-radius: 16px 31px 31px 16px;
  background-position: calc(100% - 8px) center;
}
@media (max-width: 360px) {
  div.wpcf7 input[type=submit] {
    font-size: 1rem;
    line-height: 1.1rem;
  }
}

div.wpcf7 input[type=text],
div.wpcf7 input[type=tel],
div.wpcf7 input[type=email] {
  padding-left: 50px;
  padding-right: 9px;
  background-position: 9px center;
}

.acceptance-col input[type=checkbox] {
  margin-left: unset;
  margin-right: 1rem;
}

div.wpcf7 select {
  padding-right: 2.1rem;
  padding-left: 0.55rem;
  background-position: calc(100% - 20px) center;
}

.faq .question-title {
  text-align: left;
}

@media (max-width: 576px) {
  .answer-body {
    margin-right: unset;
    margin-left: -30px;
  }
}

.question-header {
  padding: 1rem 2.75rem 1rem 5rem;
}
@media (max-width: 576px) {
  .question-header {
    padding: 1rem 1.75rem 1rem 4rem;
  }
}

.faq-sign {
  right: 1.25rem;
  left: unset;
}
@media (max-width: 576px) {
  .faq-sign {
    right: 0.5rem;
    left: unset;
  }
}

.faq-icon {
  right: unset;
  left: 0;
}

.why-item-row-wrap:nth-child(2n) .why-item-row .why-item-image {
  margin-right: 2px;
  margin-left: 0;
}

.why-item-col {
  padding: 1px 2px;
}
@media (max-width: 768px) {
  .why-item-col {
    padding: 2px 15px;
  }
}

.why-item-image {
  margin-left: 2px;
  margin-right: 0;
}
@media (max-width: 576px) {
  .why-item-image {
    margin-left: 0;
  }
}

.fix-wrap {
  left: unset;
  right: -2rem;
}
@media (max-width: 650px) {
  .fix-wrap {
    right: -1rem;
  }
}

.pop-trigger {
  transform: rotate(90deg);
  background-position: left center;
  margin-right: 20px;
  margin-left: 0;
}
@media (max-width: 650px) {
  .pop-trigger {
    margin-left: 0;
    margin-right: 10px;
  }
}

.post-link {
  background-image: url("../iconsall/arrow-link-right.png");
  background-position: calc(100% - 4px) center;
  padding-right: 2rem;
  padding-left: 0;
  transition: background-position ease-out 0.5s;
}
.post-link:hover {
  background-position: right center;
}

.slider-img-col .img-slider {
  left: -20%;
  right: unset;
}
@media screen and (max-width: 992px) {
  .slider-img-col .img-slider {
    left: unset;
  }
}

.slider-content-wrap {
  padding: 10% 20% 10% 10%;
}
@media screen and (max-width: 768px) {
  .slider-content-wrap {
    padding: 160px 10%;
  }
}
@media screen and (max-width: 576px) {
  .slider-content-wrap {
    padding: 100px 10%;
  }
}

.term-link-top {
  border-left: none;
  border-right: 1px solid #012a38;
}
.term-link-top:last-child {
  border-right: none;
  border-left: none;
}

.social-share-link, .share-text {
  margin-left: 0;
  margin-right: 10px;
}

.post-content-col {
  padding-right: 5%;
  padding-left: 0;
}
@media (max-width: 992px) {
  .post-content-col {
    padding-right: 0;
    padding-left: 0;
  }
}

.form-col-post .acceptance-col input[type=checkbox] {
  margin-right: 0.6rem;
  margin-left: 0;
}

.steps-column:after {
  background-image: url("../iconsall/arrow-gold-right.png");
  right: 0;
  left: unset;
}
.steps-column:nth-child(3):after {
  right: calc(50% - 15px);
  left: unset;
  transform: rotate(90deg);
}
@media (min-width: 993px) {
  .steps-column:nth-child(5):after {
    left: -15px;
    right: unset;
  }
  .steps-column:nth-child(4):after {
    left: -15px;
    right: unset;
  }
}
@media (max-width: 992px) {
  .steps-column:nth-child(3):after {
    right: 0;
    left: unset;
    transform: unset;
  }
}
@media (max-width: 576px) {
  .steps-column:after {
    left: unset !important;
    right: calc(50% - 15px) !important;
    transform: rotate(90deg) !important;
  }
}

.step-icon-wrap {
  margin-right: 1.5rem;
  margin-left: 0;
}

@media (min-width: 769px) {
  #MainNav ul li:last-child a {
    border-right: none;
  }
  #MainNav ul li a {
    border-right: 1px solid #012a38;
    border-left: none;
  }
  #MainNav ul.sub-menu li a {
    text-align: left;
  }
}
@media (max-width: 576px) {
  header .logo {
    margin: 0 0 0 50px;
  }
}

.tabs-content-gallery .nav-item {
  border-right: 1px solid #012a38;
  border-left: none;
}
.tabs-content-gallery .nav-item:last-child {
  border-right: none;
}

.project-form-row .nav-tabs .nav-link.active, .project-form-row .nav-tabs .nav-item.show .nav-link, .project-form-row .nav-tabs .nav-link {
  border-right: 1px solid #ffffff;
  border-left: none;
}
.project-form-row .nav-item:first-child .nav-link {
  padding-left: 0 !important;
  padding-right: 1rem !important;
}
.project-form-row .nav-item:last-child .nav-link {
  border-right: none !important;
}
.project-form-row .nav-link {
  padding: 0 1rem;
}

footer li a {
  padding-right: 0;
  padding-left: 20px;
}
footer li:before {
  right: unset;
  left: 0;
}
footer .contact-list li a {
  padding-left: 0;
}
footer .contact-list li a img {
  margin-left: 0;
  margin-right: 8px;
}

#go-top {
  left: 33px;
  right: unset;
}

@media (max-width: 768px) {
  header .logo {
    margin: 0 50px !important;
  }
}
@media (max-width: 576px) {
  header .logo {
    margin: 0 0 0 50px;
  }
}

@media (max-width: 768px) {
  #MobNavBtn, nav#MainNav {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  #MobNavBtn {
    right: unset;
    left: 100%;
  }

  nav#MainNav {
    right: unset;
    left: -200px;
  }

  nav#MainNav.active {
    left: 0;
    right: unset;
  }
}

/*# sourceMappingURL=ltr.css.map */
