body{
  text-align: left;
  direction: ltr;
}
$base-size: 20;
@import "colors";
@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}
.wpcf7-form {
  * {
	direction: ltr !important;
  }
  ::placeholder {
	text-align: left;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	text-align: left;
  }
}
div.wpcf7 input[type="submit"] {
  background-image: url("../iconsall/form-submit-ltr.png");
  padding: 8px size(65) 8px size(20);
  border-radius: 16px 31px 31px 16px;
  background-position: calc(100% - 8px) center;
  @media (max-width: 360px) {
	font-size: size(20);
	line-height: size(22);
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="tel"],
div.wpcf7 input[type="email"] {
  padding-left: 50px;
  padding-right: 9px;
  background-position: 9px center;
}
.acceptance-col {
  input[type="checkbox"] {
	margin-left: unset;
	margin-right: 1rem;
  }
}
div.wpcf7 select {
  padding-right: size(42);
  padding-left: size(11);
  background-position: calc(100% - 20px) center;
}
//Faq
.faq {
  .question-title {
	text-align: left;
  }
}
.answer-body {
  @media (max-width: 576px) {
	margin-right: unset;
	margin-left: -30px;
  }
}
.question-header {
  padding: size(20) size(55) size(20) size(100);
  @media (max-width: 576px) {
	padding: size(20) size(35) size(20) size(80);
  }
}
.faq-sign {
  right: size(25);
  left: unset;
  @media (max-width: 576px) {
	right: size(10);
	left: unset;
  }
}
.faq-icon {
  right: unset;
  left: 0;
}
//Part with items
.why-item-row-wrap {
  &:nth-child(2n)  {
	.why-item-row {
	  .why-item-image {
		margin-right: 2px;
		margin-left: 0;
	  }
	}
  }
}
.why-item-col {
  padding: 1px 2px;
  @media (max-width: 768px) {
	padding: 2px 15px;
  }
}
.why-item-image {
  margin-left: 2px;
  margin-right: 0;
  @media (max-width: 576px) {
	margin-left: 0;
  }
}
.fix-wrap {
  left: unset;
  right: -2rem;
  @media (max-width: 650px) {
	right: -1rem;
  }
}
.pop-trigger {
  transform: rotate(90deg);
  background-position: left center;
  margin-right: 20px;
  margin-left: 0;
  @media (max-width: 650px) {
	margin-left: 0;
	margin-right: 10px;
  }
}
.post-link {
  background-image: url("../iconsall/arrow-link-right.png");
  background-position: calc(100% - 4px) center;
  padding-right: size(40);
  padding-left: 0;
  transition: background-position ease-out .5s;
  &:hover {
	background-position: right center;
  }
}
//Slider
.slider-img-col {
  .img-slider {
	left: -20%;
	right: unset;
	@media screen and (max-width: 992px) {
	  left: unset;
	}
  }
}
.slider-content-wrap {
  padding: 10% 20% 10% 10%;
  @media screen and (max-width: 768px) {
	padding: 160px 10%;
  }
  @media screen and (max-width: 576px) {
	padding: 100px 10%;
  }
}
.term-link-top {
  border-left: none;
  border-right: 1px solid $blue-main;
  &:last-child {
	border-right: none;
	border-left: none;
  }
}
.social-share-link, .share-text {
  margin-left: 0;
  margin-right: 10px;
}
.post-content-col {
  padding-right: 5%;
  padding-left: 0;
  @media (max-width: 992px) {
	padding-right: 0;
	padding-left: 0;
  }
}
.form-col-post {
  .acceptance-col input[type="checkbox"] {
	margin-right: size(12);
	margin-left: 0;
  }
}
.steps-column {
  &:after {
	background-image: url("../iconsall/arrow-gold-right.png");
	right: 0;
	left: unset;
  }
  &:nth-child(3) {
	&:after {
	  right: calc(50% - 15px);
	  left: unset;
	  transform: rotate(90deg);
	}
  }
  @media (min-width: 993px) {
	&:nth-child(5) {
	  &:after {
		left: -15px;
		right: unset;
	  }
	}
	&:nth-child(4) {
	  &:after {
		left: -15px;
		right: unset;
	  }
	}
  }
  @media (max-width: 992px) {
	&:nth-child(3) {
	  &:after {
		right: 0;
		left: unset;
		transform: unset;
	  }
	}
  }
  @media (max-width: 576px) {
	&:after {
	  left: unset !important;
	  right: calc(50% - 15px) !important;
	  transform: rotate(90deg) !important;
	}
  }
}
.step-icon-wrap {
  margin-right: size(30);
  margin-left: 0;
}

@media (min-width: 769px) {
  #MainNav{
	ul{
	  li{
		&:last-child {
		  a {
			border-right: none;
		  }
		}
		a{
		  border-right: 1px solid $blue-main;
		  border-left: none;
		}
	  }
	}
	ul.sub-menu {
	  li a {
		text-align: left;
	  }
	}
  }
}
header {
  .logo {
	@media (max-width: 576px) {
	  margin: 0 0 0 50px;
	}
  }
}
//Gallery
.tabs-content-gallery {
  .nav-item {
	border-right: 1px solid $blue-main;
	border-left: none;
	&:last-child {
	  border-right: none;
	}
  }
}
//Project tabs
.project-form-row {
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
	border-right: 1px solid #ffffff;
	border-left: none;
  }
  .nav-item {
	&:first-child .nav-link {
	  padding-left: 0 !important;
	  padding-right: size(20) !important;
	}
	&:last-child .nav-link {
	  border-right: none !important;
	}
  }
  .nav-link {
	padding: 0 size(20);
  }
}
//Footer
footer {
  li {
	a {
	  padding-right: 0;
	  padding-left: 20px;
	}
	&:before {
	  right: unset;
	  left: 0;
	}
  }
  .contact-list li {
	a {
	  padding-left: 0;
	  img {
		margin-left: 0;
		margin-right: 8px;
	  }
	}
  }
}
#go-top {
  left: 33px;
  right: unset;
}
header {
  .logo {
	@media (max-width: 768px) {
	  margin: 0 50px !important;
	}
	@media (max-width: 576px) {
	  margin: 0 0 0 50px;
	}
  }
}
@media (max-width: 768px) {
  #MobNavBtn, nav#MainNav {
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
  }
  #MobNavBtn {
	right: unset;
	left: 100%;
  }
  nav#MainNav {
	right: unset;
	left: -200px;
  }
  nav#MainNav.active {
	left: 0;
	right: unset;
  }
}
