@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "forms";
@import "partials";
@import "header";


body{
  font-family: $heebo;
  text-align: right;
}
.wow {
  visibility: hidden;
}
//Basic stuff
.base-output {
  h1, h2, h3, h4, h5, h6 {
	color: $blue-main;
	font-weight: 500;
	margin-bottom: 20px;
  }
  h1 {
	@include h1-1;
  }
  h2 {
	@include h1;
  }
  h3 {
	@include h2;
  }
  h4 {
	@include h3;
  }
  h5 {
	@include h4;
  }
  h6 {
	@include h4;
  }
  p, li {
	@include base-text;
	color: $text-main;
  }
  p {
	margin-bottom: size(35);
  }
  img {
	width: 100%;
	margin: 1rem 0;
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
}
.tab-pro-output {
  h1, h2, h3, h4, h5, h6, p, li, a {
	color: #ffffff;
  }
  p, li {
	font-size: size(22);
	line-height: size(24);
  }
  h1, h2, h3, h4, h5, h6 {
	font-family: $almoni;
  }
}

//Homepage
.base-title-white {
  @include h2;
  text-align: center;
  color: #ffffff;
  margin-bottom: size(37);
}
.base-title {
  @include h2;
  text-align: center;
  color: $blue-main;
  margin-bottom: size(45);
  font-family: $almoni;
}
.main-slider-block {
  position: relative;
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.main-slide-item {
   min-height: 650px;
   @include back-img;
   @media (max-width: 768px) {
	 min-height: 400px;
   }
  padding-bottom: 150px;
}
.main-slide-overlay {
  @include overlay;
  background-image: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.13;
  z-index: 2;
}
.main-slider-block {
  .slick-dotted.slick-slider {
	margin-bottom: 0;
  }
  .slick-dots {
	top: 0;
	@include d-center;
	flex-direction: column;
	height: 100%;
	width: auto;
	right: size(30);
	z-index: 9999;
	@media (max-width: 1200px) {
	  right: 15px;
	}
	@media (max-width: 768px) {
	  flex-direction: row;
	  top: calc(100% - 5rem);
	  right: auto;
	  left: auto;
	  height: auto;
	  width: 100%;
	}
  }
  ul.slick-dots {
	li {
	  margin: 10px 0;
	  @media (max-width: 768px) {
		margin: 0 10px;
	  }
	  button {
		@include d-center;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 2px solid #ffffff;
		background-color: transparent;
		opacity: 1 !important;
		@media (max-width: 650px) {
		  width: 11px;
		  height: 11px;
		}
		&:before {
		  top: unset;
		  left: unset;
		  color: #ffffff;
		  opacity: 0 !important;
		  font-size: 0.4rem;
		}
	  }
	}
  }
  ul.slick-dots li.slick-active button {
	background-color: #ffffff;
  }
}
.h-main-title,.h-main-subtitle {
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.26);
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}
.h-main-title {
  font-size: size(55);
  margin-bottom: size(20);
  line-height: size(50);
  @media (max-width: 1600px) {
	@include h1-1;
  }
  @media (max-width: 1200px) {
	@include h1;
  }
  @media (max-width: 992px) {
	@include h2;
  }
}
.h-main-subtitle {
  font-size: size(86);
  line-height: size(90);
  @media (max-width: 1600px) {
	font-size: size(55);
	margin-bottom: size(20);
  }
  @media (max-width: 1200px) {
	@include h1-1;
  }
  @media (max-width: 992px) {
	@include h1;
  }
}
.main-slide-content {
  position: relative;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .logo {
	max-height: size(311);
	margin-bottom: size(20);
  }
}
.article-page-body {
  padding: size(90) 0;
}
.grad-back {
  @include d-center;
  padding: 2px;
  background-image: linear-gradient(to top, #f5e382 0%, #f5e382 12%, #d7b248 53%, #b07908 100%);
  &:hover {
	img {
	  transform: scale(1.1, 1.1);
	}
  }
}
.inside-image {
  @include d-center;
  width: 100%;
  background-color: #ffffff;
}
.bordered-image {
  width: 100%;
  padding: size(32);
  img {
	width: 100%;
	transition: transform ease-out .5s;
  }
}
.about-link {
  @include d-center;
  padding: 5px size(30);
  height: size(40);
  border-radius: size(20);
  background-color: $blue-main;
  @include small-text;
  color: #ffffff !important;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  transition: background-color ease-out .5s;
  &:hover {
	background-color: $gold-back;
  }
}
.benefits-block {
  padding: size(139) 0;
  background-color: $blue-main;
}
//Main top block
.top-block {
  position: relative;
  @include back-img;
  @include d-center;
  height: 291px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 52% calc(100% - 20px), 50% 100%, 48% calc(100% - 20px), 0% calc(100% - 20px));
  @media (max-width: 650px) {
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 55% calc(100% - 20px), 50% 100%, 45% calc(100% - 20px), 0% calc(100% - 20px));
  }
}
.top-overlay {
  @include overlay;
  background-image: linear-gradient(to top, #012a38 0%, rgba(1, 42, 56, 0) 100%);
  opacity: 0.55;
}
.top-block-title {
  position: relative;
  @include h1;
  color: #ffffff;
  font-family: $almoni;
  font-weight: 700;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  z-index: 9;
  padding-bottom: size(17);
  &:after {
	position: absolute;
	bottom: 0;
	content: '';
	display: block;
	width: calc(100% + 20px);
	right: -10px;
	height: 3px;
	background-color: #ffffff;
  }
}
.same-title-underline {
  position: relative;
  padding-bottom: size(17);
  width: auto;
  &:after {
	position: absolute;
	bottom: 0;
	content: '';
	display: block;
	width: calc(100% + 20px);
	right: -10px;
	height: 3px;
	background-color: $gold-main;
  }
}
.more-link {
  @include d-center;
  padding: 5px size(48);
  min-width: 172px;
  height: size(40);
  background-color: $blue-main;
  @include small-text;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: background-color ease-out .5s;
  &:hover {
	background-color: $gold-main;
  }
  &.hide {
	display: none;
  }
}
.posts-home-block {
  margin-top: 100px;
}
.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: size(50);
}
.contact-icon-wrap {
  @include d-center;
  width: size(165);
  height: size(165);
  background-color: #ffffff;
  padding: size(40);
  border: 2px solid $gold-main;
  margin-bottom: size(22);
  img {
	max-height: 80%;
  }
}
.contact-info {
  @include base-text;
  color: #303030;
  text-align: center;
  transition: color ease-out .5s;
  &:hover {
	color: $gold-main;
  }
}
.map-image {
  display: flex;
  margin: size(47) 0 size(56) 0;
  img {
	width: 100%;
  }
}
.contact-form-text {
  @include d-center;
}
.contact-form-title, .contact-form-subtitle {
  color: #ffffff;
  text-align: center;
}
.contact-form-title {
  @include h3;
  font-weight: 500;
}
.contact-form-subtitle {
  @include h4;
  font-weight: 400;
}
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: size(20);
}
.share-text {
  @include h6;
  color: $text-main;
  font-style: normal;
  letter-spacing: normal;
  margin-left: 10px;
}
.social-share-link {
  width: size(46);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.post-image {
  margin-bottom: size(70);
  img {
	width: 100%;
  }
}
.post-content-col {
  padding-left: 5%;
  @media (max-width: 992px) {
	padding-left: 0;
	margin-bottom: 3rem;
  }
}
//Project
.project-content-block {
  background-color: $blue-main;
  position: relative;
  padding: size(60) 0 size(150) 0;
}
.project-content-img {
  @include overlay;
  @include back-img;
  opacity: 0.73;
}
.project-main-content {
  .base-output {
	* {
	  text-align: center;
	  color: #ffffff !important;
	}
	h2.main-info-title {
	  @include h1;
	}
  }
  .top-block-title {
	margin-bottom: size(64);
  }
}
.posts-slider {
  .col-post {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 0;
  }
}
.posts-pro-block {
  margin: 50px 0;
}
.pro-col-post {
  background-color: $gold-back;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tabs-content-pro {
  background-color: $blue-main;
  padding: size(76) 10%;
  height: 100%;
}
//Gallery
.block-gallery {
  margin: size(60) 0;
}
.col-project-home {
  position: relative;
  &:hover {
	.gallery-overlay {
	  opacity: 1;
	  z-index: 999;
	  pointer-events: all;
	}
  }
}
.tabs-content-gallery {
  .nav-tabs {
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin-bottom: 1rem;
	border-bottom: none;
  }
  .nav-tabs .nav-link {
	border: none;
	border-radius: 0;
  }
  .nav-item {
	border-left: 1px solid $blue-main;
	&:last-child {
	  border-left: none;
	}
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
	font-size: size(28);
	line-height: size(28);
	color: $blue-main !important;
	background-color: #fff;
	border: none;
	font-family: $almoni;
	padding: 0 10px;
	@media (max-width: 1200px) {
	  font-size: size(20);
	  line-height: size(22);
	}
  }
  .nav-tabs .nav-link.active {
	font-weight: 700;
  }
}
.gallery-overlay {
  @include overlay;
  @include d-center;
  background-color: rgba(1, 42, 56, 0.35);
  color: #ffffff;
  font-size: size(40);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-out .5s;
}
//Project tabs
.project-form-row {
  .nav-tabs .nav-item {
	margin-bottom: 0;
	@media (max-width: 576px) {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
  }
  .nav-tabs {
	border-bottom: none;
	margin-bottom: size(81);
	@media (max-width: 576px) {
	  display: flex;
	  align-items: center;
	}
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
	border-radius: 0;
	border: 0;
	color: #ffffff;
	font-size: size(28);
	line-height: size(28);
	font-weight: 400;
	border-left: 1px solid #ffffff;
	font-family: $almoni;
	background-color: transparent;
	@media (max-width: 1200px) {
	  font-size: size(20);
	  line-height: size(22);
	}
	@media (max-width: 576px) {
	  text-align: center;
	  margin-bottom: 10px;
	}
  }
  .nav-item {
	&:first-child .nav-link {
	  padding-right: 0 !important;
	}
	&:last-child .nav-link {
	  border-left: none !important;
	}
  }
  .nav-link {
	padding: 0 size(20);
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: $gold-back;
	font-weight: 700;
  }
}
.more-link-cards {
  border-radius: size(20);
}
//Home projects
.projects-home {
  @include back-img;
  padding: size(95) 0 size(45) 0;
}
.project-circle {
  @include d-center;
  flex-direction: column;
  background-color: $blue-main;
  border-radius: 50%;
  padding: 20% size(30);
  width: size(231);
  height: size(231);
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-out .5s;
  .base-text {
	font-size: size(18);
	line-height: size(20);
	color: #ffffff;
	text-align: center;
  }
}
.post-home-title {
  color: #ffffff;
  text-align: center;
  font-size: size(22);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  margin-bottom: 8px;
}
.col-pro-home {
  @include d-center;
}
.col-pro-home:hover {
  .project-circle {
	opacity: 1;
	pointer-events: all;
  }
}
.our-projects {
  position: absolute;
  width: 100%;
  top: 0;
}

@import "responsive";
